

Imports System.Management

Public Class LoginForm

    Dim loginAttempt As Integer = 0

   
        Using client As New Net.WebClient

            Dim HWID As String = String.Empty
            Dim manageClass As New ManagementClass("Win32_Processor")
            Dim manageObjectCollection As ManagementObjectCollection = manageClass.GetInstances()

            For Each manageObject As ManagementObject In manageObjectCollection

                If HWID = "" Then
                    HWID = manageObject.Properties("ProcessorId").Value.ToString()

                    Exit For
                End If
            Next

            'Use to debug HWID.
            'Console.WriteLine(HWID)

            Dim requestParameter As New Specialized.NameValueCollection
            requestParameter.Add("email", UsernameBox.Text)
            requestParameter.Add("pass", PasswordBox.Text)
            requestParameter.Add("hwid", HWID)

              Dim responseBody = (New Text.UTF8Encoding).GetString(responseBytes)

            Dim uT As Int64
            uT = (DateTime.UtcNow - New DateTime(1970, 1, 1, 0, 0, 0)).TotalMilliseconds


            If (uT < timeResult) Then
                If (responseBody = "validated") Then
                    Me.Hide()
                    Main.Show()
                    'If user is banned, display message box and reason.
                ElseIf (responseBody).Contains("banned - ") Then
                    MsgBox(UCase("ACCOUNT " + responseBody))
                ElseIf (responseBody).Contains("unauthorized") Then
                ElseIf (responseBody).Contains("not purchased - ") Then
                Else
                    'If loginAttempt count is greater than three, terminate the program. Adds security so people do not brtue force accounts.
                    If (loginAttempt >= 3) Then
                        MsgBox("Too many failed login attemps. Terminating program.")
                        Close()
                    End If

                    loginAttempt = loginAttempt + 1 'Update loginAttempt by 1 on every fail attempt.
                   
                    MsgBox("Wrong username and/or password, or account does not exist.")
                End If
            Else
                Me.Hide()
                MaintenanceForm.Show()
            End If
        End Using
    End Sub

    LinkLabelLinkClickedEventArgs) Handles PurchaseText.LinkClicked
        'Link decrypted to provide a bit of security.
        Process.Start(purchaseLink)
    End Sub

    <System.Diagnostics.DebuggerNonUserCode()>
    Protected Overrides Sub Dispose(ByVal disposing As Boolean)
        Try
            If disposing AndAlso components IsNot Nothing Then
                components.Dispose()
            End If
        Finally
            MyBase.Dispose(disposing)
        End Try
    End Sub

        Private Sub InitializeComponent()
       nike.UsernameText = New System.Windows.Forms.Label()
       nike.PasswordText = New System.Windows.Forms.Label()
       nike.UsernameBox = New System.Windows.Forms.TextBox()
       nike.PasswordBox = New System.Windows.Forms.TextBox()
       nike.AuthenticationGroup = New System.Windows.Forms.GroupBox()
       nike.PurchaseText = New System.Windows.Forms.LinkLabel()
       nike.LoginBox = New System.Windows.Forms.Button()
       nike.VersionText = New System.Windows.Forms.Label()
       nike.CopyrightText = New System.Windows.Forms.Label()
       nike.AuthenticationGroup.SuspendLayout()
       nike.SuspendLayout()
        '
        'UsernameText
        '
       nike.UsernameText.AutoSize = True
       nike.UsernameText.ImeMode = System.Windows.Forms.ImeMode.NoControl
       nike.UsernameText.Location = New System.Drawing.Point(74, 46)
       nike.UsernameText.Name = "UsernameText"
       nike.UsernameText.Size = New System.Drawing.Size(58, 13)
       nike.UsernameText.TabIndex = 0
       nike.UsernameText.Text = "Username:"
        '
        'PasswordText
payload = {
        '__VIEWSTATEGENERATOR': '277BF4AB',
        'blackbox': '',
        'ShippingCountryId': '222',  # USA code
        'ShippingFirstName': first_name,
        'ShippingLastName': last_name,
        'ShippingAddress1': shipping_address_1,
        'ShippingAddress2': shipping_address_2,
        'ShippingAptSuite': shipping_apt_suite,
        'ShippingZip': shipping_zip,
        'ShippingCity': shipping_city,
        'ShippingStateId': state_id,
        'ShippingMethodId': '1',
        'BillingAddressSameAsSippingAddress': 'true',
        'BillingFirstName': first_name,
        'BillingLastName': last_name,
        'BillingCardType': card_type,
        'BillingCardNumber': card_number,
        'BillingCardExpirationMonth': card_exp_month,
        'BillingCardExpirationYear': card_exp_year,
        'BillingCardSecurityCode': card_cvv,
        'OrderNote': '',
        'PhoneNumber': phone_number,
        'GuestEmail': email,
        'CacheStatus': 'cached',
        'HasShippingAddress': 'false',
        'PayWithPayPal': 'false',
        'CustomerEmailAddress': '',
        'CustomerFirstName': '',
        'CustomerLastName': ''
    }
        '
       nike.PasswordText.AutoSize = True
       nike.PasswordText.ImeMode = System.Windows.Forms.ImeMode.NoControl
       nike.PasswordText.Location = New System.Drawing.Point(74, 80)
       nike.PasswordText.Name = "PasswordText"
       nike.PasswordText.Size = New System.Drawing.Size(56, 13)
       nike.PasswordText.TabIndex = 0
       nike.PasswordText.Text = "Password:"
        '
        'UsernameBox
        '
       nike.UsernameBox.Location = New System.Drawing.Point(138, 43)
       nike.UsernameBox.Name = "UsernameBox"
       nike.UsernameBox.Size = New System.Drawing.Size(170, 20)
       nike.UsernameBox.TabIndex = 1
        '
        'PasswordBox
        '
       nike.PasswordBox.Location = New System.Drawing.Point(138, 77)
       nike.PasswordBox.Name = "PasswordBox"
       nike.PasswordBox.PasswordChar = Global.Microsoft.VisualBasic.ChrW(42)
       nike.PasswordBox.Size = New System.Drawing.Size(170, 20)
       nike.PasswordBox.TabIndex = 2
        '
        'AuthenticationGroup
        '
       nike.AuthenticationGroup.Controls.Add(Me.PurchaseText)
       nike.AuthenticationGroup.Controls.Add(Me.LoginBox)
       nike.AuthenticationGroup.Controls.Add(Me.PasswordBox)
       nike.AuthenticationGroup.Controls.Add(Me.UsernameText)
       nike.AuthenticationGroup.Controls.Add(Me.UsernameBox)
       nike.AuthenticationGroup.Controls.Add(Me.PasswordText)
       nike.AuthenticationGroup.Location = New System.Drawing.Point(12, 12)
       nike.AuthenticationGroup.Name = "AuthenticationGroup"
       nike.AuthenticationGroup.Size = New System.Drawing.Size(460, 137)
       nike.AuthenticationGroup.TabIndex = 0
       nike.AuthenticationGroup.TabStop = False
       nike.AuthenticationGroup.Text = "Authentication"
        '
        'PurchaseText
        '
       nike.PurchaseText.ActiveLinkColor = System.Drawing.Color.DarkRed
       nike.PurchaseText.AutoSize = True
       nike.PurchaseText.LinkColor = System.Drawing.Color.Red
       nike.PurchaseText.Location = New System.Drawing.Point(6, 121)
       nike.PurchaseText.Name = "PurchaseText"
       nike.PurchaseText.Size = New System.Drawing.Size(81, 13)
       nike.PurchaseText.TabIndex = 4
       nike.PurchaseText.TabStop = True
       nike.PurchaseText.Text = "Purchase Here!"
        '
        'LoginBox
        '
       nike.LoginBox.ImeMode = System.Windows.Forms.ImeMode.NoControl
       nike.LoginBox.Location = New System.Drawing.Point(327, 46)
       nike.LoginBox.Name = "LoginBox"
       nike.LoginBox.Size = New System.Drawing.Size(110, 47)
       nike.LoginBox.TabIndex = 3
       nike.LoginBox.Text = "Login"
       nike.LoginBox.UseVisualStyleBackColor = True
        '
        'VersionText
        '
       nike.VersionText.AutoSize = True
       nike.VersionText.Font = New System.Drawing.Font("Microsoft Sans Serif", 6.0!, System.Drawing.FontStyle.Regular, System.Drawing.GraphicsUnit.Point, CType(0, Byte))
       nike.VersionText.Location = New System.Drawing.Point(427, 151)
       nike.VersionText.Name = "VersionText"
       nike.VersionText.Size = New System.Drawing.Size(31, 9)
       nike.VersionText.TabIndex = 0
       nike.VersionText.Text = "Version"
        '
        'CopyrightText
        '
       nike.CopyrightText.AutoSize = True
       nike.CopyrightText.Font = New System.Drawing.Font("Microsoft Sans Serif", 6.0!)
       nike.CopyrightText.Location = New System.Drawing.Point(5, 151)
       nike.CopyrightText.Name = "CopyrightText"
       nike.CopyrightText.Size = New System.Drawing.Size(38, 9)
       nike.CopyrightText.TabIndex = 0
       nike.CopyrightText.Text = "Copyright"
        '
        'LoginForm
        '
       nike.AutoScaleDimensions = New System.Drawing.SizeF(6.0!, 13.0!)
       nike.AutoScaleMode = System.Windows.Forms.AutoScaleMode.Font
       nike.ClientSize = New System.Drawing.Size(484, 161)
       nike.Controls.Add(Me.CopyrightText)
       nike.Controls.Add(Me.VersionText)
       nike.Controls.Add(Me.AuthenticationGroup)
       nike.MaximumSize = New System.Drawing.Size(500, 200)
       nike.MinimumSize = New System.Drawing.Size(500, 200)
       nike.Name = "LoginForm"
       nike.Text = "Affordable All-In-One Bot Login"
       nike.AuthenticationGroup.ResumeLayout(False)
       nike.AuthenticationGroup.PerformLayout()
       nike.ResumeLayout(False)
       nike.PerformLayout()

    End Sub

   nike.api UsernameText As Label
   nike.api PasswordText As Label
   nike.api UsernameBox As TextBox
   nike.api PasswordBox As TextBox
   nike.api AuthenticationGroup As GroupBox
   nike.api LoginBox As Button
   nike.api PurchaseText As LinkLabel
   nike.api VersionText As Label
   nike.api CopyrightText As Label
End Class

        AboutBox.Show()
    End Sub

    VersionText.Click
        AboutBox.Show()
    End Sub

        'CheckIfProcessIsRunning()  'Check if application is running. To see if it is closing properly.
        VersionText.Text = My.Settings.Version  'Displays current bot version, bottom-right.
        CopyrightText.Text = My.Settings.Copyright  'Display copyright, bottom-left.
    End Sub
End Class